body {
  background-color: var(--main-bg);
  overflow-x: hidden;
}

.main-wrapper {
  margin: 0 auto;
  width: 75%;
}

header {
  width: 100%;
}
header .header-wrapper {
  padding: 30px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-wrapper .header-navigation, header .header-wrapper .header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-wrapper .header-navigation {
  gap: 60px;
}
header .header-wrapper .header-buttons {
  gap: 20px;
}

main {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}

.offer .offer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.offer .offer-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.offer .offer-content .offer-payment {
  display: flex;
  gap: 28px;
}
.offer .offer-illustration {
  height: auto;
  width: auto;
}

.about .about-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.about .about-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}

.work .work-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.work .work-content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.work .work-content .work-list-container {
  width: 80%;
}
.work .work-content .work-list-container .work-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.work .work-content .work-list-container .work-list .work-list-item {
  display: flex;
  justify-content: space-between;
  gap: 28px;
  height: auto;
}
.work .work-content .work-list-container .work-list .work-list-item .work-list-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 120px;
}
.pricing .pricing-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.pricing .pricing-wrapper .pricing-content .pricing-content-text {
  align-items: flex-end;
  text-align: end;
}
.pricing .pricing-wrapper .pricing-content .pricing-content-text p {
  white-space: pre-wrap;
}
.pricing .pricing-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.pricing .pricing-list .card {
  display: flex;
  flex-direction: column;
  gap: 60px;
  position: relative;
  padding: 50px;
  width: 33%;
  height: 640px;
}
.pricing .pricing-list .card .card-caption {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pricing .pricing-list .card .card-caption h1 {
  font-family: "NeueMachina Ultrabold" !important;
  font-weight: bold;
}
.pricing .pricing-list .card .card-caption h1::before {
  content: "$";
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.pricing .pricing-list .card .card-caption h1::after {
  content: "per month";
  font-size: 30px;
}
.pricing .pricing-list .card .card-caption p {
  font-size: calc(20px + 0 * (100vw - 320px) / 1280);
}
.pricing .pricing-list .card .card-footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  width: 100%;
}
.pricing .pricing-list .card .card-footer .button {
  flex-grow: 1;
}
.pricing .pricing-list .card-black {
  color: var(--main-white) !important;
  background-color: var(--main-black);
}
.pricing .pricing-list .card-black .list-item {
  color: var(--main-white);
}
.pricing .pricing-list .card-black h1 {
  color: var(--main-white);
}
.pricing .pricing-list .card-bordered {
  border: 1px solid var(--main-black);
  background: none;
}
.pricing .pricing-list .card-white {
  color: var(--main-black);
  border: 1px solid var(--main-white);
  background-color: var(--main-white);
}/*# sourceMappingURL=index.css.map */