body {
    background-color: var(--main-bg);
}

.main-wrapper {
    margin: 0 auto;
    // width: 87.5%;
    width: 80%;
}

// header

header {
    width: 100%;

    .header-wrapper {
        padding: 30px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-navigation, .header-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .header-navigation {
            gap: 60px;
        }

        .header-buttons {
            gap: 20px;
        }
    }
}


// main
main {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    // gap: 120px;
}

// offer
.offer {
    // height: 100vh;
    .offer-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .offer-content {

        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-right: 20%;

        .offer-content-text {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .offer-payment {
            display: flex;
            gap: 28px;
        }
    }
    .offer-illustration {
        height: auto;
        width: auto;
    }
}

// aboust us
.about {
    .about-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .about-content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;

        .about-content-text {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}