body {
    background-color: var(--main-bg);
}

.main-wrapper {
    margin: 0 auto;
    width: 87.5%;
}

// header

header {
    width: 100%;

    .header-wrapper {
        padding: 30px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-navigation, .header-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .header-navigation {
            gap: 60px;
        }

        .header-buttons {
            gap: 20px;
        }
    }
}


// main
main {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

// offer
.offer {
    width: 100%;

    .offer-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .offer-content {

        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-right: 20%;

        .offer-content-text {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h1 {
                line-height: 80px;
                letter-spacing: -4px;
            }
            p {
                line-height: 26px;
            }
        }
        .offer-payment {
            display: flex;
            gap: 28px;
        }
    }
    .offer-illustration {
        height: auto;
        width: auto;
    }
}
